<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2009 Low Heng Sin
Copyright (C) 2009 Idalica Corporation
-->
<zk>

<style>
	.loginLinksBox {
		padding: 0;
		margin: 0;
		padding-left: 3px;
		font-size: 8pt;
		background-color: transparent;
	}
</style>

<div class="loginLinksBox" if="${desktop.execution.serverName.equals(&quot;127.0.0.1&quot;) or desktop.execution.serverName.startsWith(&quot;demo.&quot;) or desktop.execution.serverName.startsWith(&quot;test.&quot;) or desktop.execution.serverName.startsWith(&quot;experimental.&quot;)}"
	style="position: absolute; bottom: 30px;">

	<toolbarbutton href="http://www.zkoss.org" image="/theme/primserver/images/zkpowered_s.png"
		tooltiptext="Powered by Zk" target="_blank"
		/>
</div>

</zk>
